* {
  padding: 0;
  margin: 0;
}
section {
  width: 100%;
  height: 200vh;
  background-image: url(../images/black-orchid.png);
  background-color: #00378a;
  position: relative;
}
#title {
  color: #ccc;
  position: absolute;
  top: 40px;
  left: 33%;
}
#title h2 {
  padding-left: 50px;
}
.content {
  position: absolute;
  left: 25%;
  top: 10%;
  width: 600px;
  border: solid 2px #046582;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  color: #ccc;
}
input {
  margin: 10px 0;
}
.input {
  padding: 5px 31.5%;
}
